@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Source+Sans+3:wght@400;500;600;700&display=swap");

:root {
  /* =========================
     COLORES
  ========================= */
  
  --cc-bg-dark: #331C3D;
  --cc-bg-light: #FBF2FF;

  --cc-accent-dark: #B56AB2;
  --cc-accent-light: #684378;

  --cc-text-dark: #4B3654;
  --cc-text-light: #EDEDED;

  --cc-muted-dark: #946DA3;
  --cc-muted-light: #C7A9C5;


  /* =========================
     TIPOGRAFÍA
  ========================= */

  --cc-font-display: "Calistoga", serif;
  --cc-font-body: "Source Sans 3", sans-serif;


  /* =========================
     TRANSICIONES
  ========================= */

  --cc-transition: 180ms ease;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: var(--cc-font-body);
}
