@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Source+Sans+3:wght@400;500;600;700&display=swap");

:root {
  /* =========================
     COLORES
  ========================= */

  --cc-bg: #27172D;
  --cc-accent: #E79DE4;
  --cc-text: #EDEDED;
  --cc-muted: #BAA3C9;
  --cc-dropdown: #4D3456;


  /* =========================
     TIPOGRAFÍA
  ========================= */

  --cc-font-display: "Calistoga", serif;
  --cc-font-body: "Source Sans 3", sans-serif;


  /* =========================
     TRANSICIONES
  ========================= */

  --cc-transition: 180ms ease;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: var(--cc-font-body);
}
